<a href="https://colab.research.google.com/github/fishem/Netflix-Dataset-Analysis-repo/blob/main/Netflix_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Inspiration
Some of the interesting questions (tasks) which can be performed on this dataset -
1.   Understanding what content is available in different countries
2.   Identifying similar content by matching text-based features
3.   Network analysis of Actors / Directors and find interesting insights
4.   Is Netflix has increasingly focusing on TV rather than movies in recent years.

## Load libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

## Location and loading of csv file

In [3]:
file = '/content/FranckData/netflix_titles.csv'
netflix = pd.read_csv(file)

## Quick description of our dataset

In [21]:
#Print the first 5 rows
netflix.head()

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [22]:
#Print the lest 5 rows
netflix.tail()

     show_id  ...                                        description
7782   s7783  ...  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  ...  A scrappy but poor boy worms his way into a ty...
7784   s7785  ...  In this documentary, South African rapper Nast...
7785   s7786  ...  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  ...  This documentary delves into the mystique behi...

[5 rows x 12 columns]

In [20]:
#Let see the shape of our dataset (Nd of rows, Nb of columns)
netflix.shape

(7787, 12)

In [11]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

Based on info obtained so far, we can see that the dataset is partically complete except for 4 columns


1.   director
2.   cast
3.   country

Moreover, the folowing columns will need to be coverted to draw a meaningful insight: 

1.   Duration
2.   Release year
3.   Date_added

Also the column "description" will require some cleaning if we want to generate a word cloud